/*************************************************************/
/* CSS RESET */
/*************************************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Jost', sans-serif;
    background-color: #FFF5E9;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


#root,
#__next {
    isolation: isolate;
}

/*************************************************************/
/* GENERAL STYLES */
/*************************************************************/
.navigation {
    display: flex;
    align-items: center;
}

.navbar {
    list-style-type: none;
    display: flex;
    gap: 10rem;
    margin-top: 2rem;
    margin-right: 5rem;
}

.logo {
    height: 18rem;
    width: 18rem;
    margin-right: auto;
}

.nav-link {
    text-decoration: none;
    color: #5C3F32;
}

.nav-link:hover {
    color: #8A7467;
}

.container {
    display: flex;
    background-color: #5E4235;
    border-radius: 2rem;
    margin: 2rem;
}

.main-heading {
    color: #FDFAEC;
}

.subheading {
    color: #FDFAEC;
    font-size: 2rem;
}

.intro {
    padding: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.learn-more-btn {
    text-decoration: none;
    background-color: #7e685d;
    border-radius: 3rem;
    padding: 1rem 4rem;
    color: #F6F5F2;
}

.heroimg {
    margin-left: auto;
    border-radius: 0 2rem 2rem 0;
}


/* jost-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jost-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/jost-v15-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jost-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/jost-v15-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*
* Palette: 
* https://coolors.co/da94a5-f6f5f2-f6f5f2-ecc5ce-f6f5f2-f1d4da-e4afbb-f0d2d8-e09ead-c96d84
*/

/*************************************************************/
/* DESKTOP STYLES */
/*************************************************************/

@media (min-width: 52rem) {
    .heroimg {
        height: 50rem;
    }

    .container {
        padding: 0 0 0 2rem;
        align-items: center;
    }

    .main-heading {
        font-size: 6rem;
    }
    
    .btn-container {
        margin-top: 8rem;
    }

    .burger {
        display: none;
    }
}

/*************************************************************/
/* TABLET STYLES */
/*************************************************************/
@media (min-width: 50rem) and (max-width: 52rem) {

    .intro {
        margin: 1.2rem;
    }
    .btn-container {
        margin: 2rem;
    }
}


/*************************************************************/
/* MOBILE STYLES */
/*************************************************************/

@media (min-width: 23rem) and (max-width: 52rem) {
    .subheading {
        font-size: 1.2rem;
    }

    .btn-container {
        margin-top: 1rem;
    }

    .container{
        flex-direction: column;
    }

    .heroimg {
        width: 100%;
        object-fit: cover;
        border-radius:  0 0 2rem 2rem;
    }

    .navigation {
        width: 100%;
    }

    .navbar {
        display: none;
    }

    .logo {
        height: 10rem;
        width: 10rem;
    }

    .burger {
        display: block;
        margin-right: 2rem;
    }
}