/*************************************************************/
/* CSS RESET */
/*************************************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Jost', sans-serif;
    background-color: #FFF5E9;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*************************************************************/
/* GENERAL STYLES */
/*************************************************************/
.navigation {
    display: flex;
    align-items: center;
}

.navbar {
    list-style-type: none;
    display: flex;
    gap: 10rem;
    margin-top: 2rem;
}

.logo {
    height: 18rem;
    width: 18rem;
    margin-right: auto;
}

.nav-link {
    text-decoration: none;
    color: #5C3F32;
}

.nav-link:hover {
    color: #8A7467;
}

.container {
    display: flex;
    background-color: #5E4235;
    border-radius: 2rem;
    margin: 2rem;
}

.main-heading {
    color: #FDFAEC;
}

.subheading {
    color: #FDFAEC;
    font-size: 2rem;
}

.intro {
    padding: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.learn-more-btn {
    text-decoration: none;
    background-color: #7e685d;
    border-radius: 3rem;
    padding: 1rem 4rem;
    color: #F6F5F2;
}

.heroimg {
    margin-left: auto;
    border-radius: 0 2rem 2rem 0;
}

.shopping-cart {
    color:#5C3F32;
    width: 1rem;
}

/********/
/* MENU */
/********/

#menu {
    height: 90vh;
}

.menu {
    list-style-type: none;
    text-decoration: none;
}

.menu-link {
    text-decoration: none;
    color: #5C3F32;
    margin-bottom: 2rem;
}

.menu-wrapper {
    display: flex;
}

.menu-categories {
    width: 30%;
}

.menu-heading {
    text-align: center;
    margin: 5rem 0;
    font-size: 2rem;
}

.menu-heading, .hot-drink-heading, .price, .contact-heading {
    color: #5C3F32;
}

.menu-link:hover {
    color: #8A7467;
}

.hot-drinks {
    list-style-type: none;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* gap: 0px 0px; */
    row-gap: 20px;
}

.hot-drink-img {
    width: 50%;
}

.menu-item {
    margin-bottom: 1.2rem;
    font-weight: 600;
}

/******/
/* About */
/******/
#about {
    background-color: #8A7467;
    display: flex;
    margin-top: 0;
}

.about-text {
    color:#F6F5F2;
    margin: 2rem;
}

/******/
/* Contact */
/******/

.contact-heading {
    text-align: center;
}

.contact-container {
    display: flex;
}

form {
    background-color: #5C3F32;
    padding: 2rem;
    display: flex;
        flex-direction: column;
}

.form-labels {
    color: #F6F5F2;
}

.submit-btn {
    align-self: center;
    margin-top: 1rem;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 300ms;
    width: 100%;
    padding: 0.5rem;
    background-color: #8A7467;
    color: #F6F5F2;
}

/******/
/* Footer */
/******/
.footer {
    background-color: #5C3F32;
    color: #F6F5F2;
}

/* jost-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jost-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/jost-v15-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jost-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/jost-v15-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*
* Palette: 
* https: //coolors.co/5c3f32-5c3f32-fef4e8-5e4235-5c3f32-bcada0-5d4133-f8efe3
*/

/*************************************************************/
/* DESKTOP STYLES */
/*************************************************************/

@media (min-width: 52rem) {

    .navbar {
        margin-right: 5rem;
    }

    .heroimg {
        height: 50rem;
    }

    .container {
        padding: 0 0 0 2rem;
        align-items: center;
    }

    .main-heading {
        font-size: 6rem;
    }
    
    .btn-container {
        margin-top: 8rem;
    }

    .burger {
        visibility: hidden;
    }

    .menu-wrapper {
        align-items: center;
        gap: 5rem;
    }

    .menu-item {
        font-size: 1.4rem;
    }

    #about {
        height: 80vh;
    }

    /******/
    /* Contact */
    /******/
    #contact {
        height: 100vh;
        margin-top: 5rem;
    }
    
    .contact-heading {
        margin: 3rem 0;
        font-size: 2rem;
    }
    
    .contact-container {
        padding: 0 6rem;
        justify-content: center;
    }
    
    .map {
        width: 60%;
        flex-grow: 0.3;
        border-radius: 0 2rem 2rem 0;
        box-shadow: 30px 27px 0px 0px rgba(188, 173, 160, 1);
    }
    
    form {
        box-shadow: 30px 27px 0px 0px rgba(188, 173, 160, 1);
        flex-grow: 1;
        margin-left: 0.5rem;
        border-radius: 2rem 0 0 2rem;
    }
    
    input,
    select {
        width: 15rem;
        margin-bottom: 1rem;
    }
    
    textarea {
        width: 20rem;
        height: 15rem;
        margin-bottom: 2rem;
    }
    
    .submit-btn:hover {
        background-color: #F6F5F2;
        color: #5C3F32;
    }
    
    .input-field {
        padding: 0.5rem;
    }

    .socials {
        color: #F6F5F2;
    }

    .footer {
        height: 50vh;
        display: flex;
        align-items: flex-end;
        gap: 10rem;
    }

    .socials {
        display: flex;
        gap: 10rem;
        margin: 10rem 20rem;
        font-size: 3rem;
    }
}

/*************************************************************/
/* TABLET STYLES */
/*************************************************************/
@media (min-width: 50rem) and (max-width: 52rem) {

    .intro {
        margin: 1.2rem;
    }

    .btn-container {
        margin: 2rem;
    }

    .menu {
        display: flex;
    }
}


/*************************************************************/
/* MOBILE STYLES */
/*************************************************************/

@media (min-width: 23rem) and (max-width: 52rem) {
    .subheading {
        font-size: 1.2rem;
    }

    .btn-container {
        margin-top: 1rem;
    }

    .container{
        flex-direction: column;
    }

    .heroimg {
        width: 100%;
        object-fit: cover;
        border-radius:  0 0 2rem 2rem;
    }

    .navigation {
        width: 100%;
    }

    .navbar {
        display: none;
    }

    .logo {
        height: 10rem;
        width: 10rem;
    }

    .burger {
        display: block;
        margin-right: 2rem;
    }

    #about {
        flex-direction: column;
    }

    .about-text-container {
        background-color: #8A7467;
    }

    .contact-heading {
        margin-top: 1rem;
    }

    .contact-container {
        flex-direction: column;
    }

    .menu-wrapper {
        flex-direction: column;
    }

    .menu {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .menu-item {
        font-size: 1.2rem;
    }

    .about-text-container {
        padding-bottom: 2rem;
    }

    form {
        border-radius: 2rem;
        margin: 1rem;
    }

    .footer {
        display: flex;
        gap: 10rem;
        height: 5rem;
        align-items: center;
    }

    .socials {
        display: flex;
        gap: 5rem
    }

    .social-icons{
        font-size: 3rem;
    }

}